// (c) Yuoa

// Default Colors
$postech: #ad0030;
$dblue: #000737;
$dblue-t: rgba(0, 7, 55, .4);
$gray: #9f9f9f;

// Default Sizes
$hz-content: 70vw;
$hz-content-min: 800px;
$hz-padding: calc((100% - #{$hz-content}) / 2);
