// (c) Yuoa
// NOTE DO NOT MAKE Inheritance part (%~) in this file.

// Default Colors
$postech: #ad0030;
$dblue: #000737;
$dblue-t: rgba(0, 7, 55, .4);
$gray: #9f9f9f;
$black: #090909;
$black-t: rgba(9, 9, 9, .4);

// Default Sizes
$hz-content: 70vw;
$hz-padding-double: calc((100% - #{$hz-content}) / 1.5);
$hz-padding: calc((100% - #{$hz-content}) / 2);
$hz-padding-half: calc((100% - #{$hz-content}) / 4);
$hz-padding-quarter: calc((100% - #{$hz-content}) / 8);

// Common Mixins
@mixin ltz-button-embossed ($color-off, $color-on) {
    border: 1px solid $color-off;
    background-color: transparent;
    cursor: pointer;
    color: $color-off;
    overflow: hidden;
    transition: background-color .2s, color .2s;
    padding: 0;

    &:hover, &:active, &:focus {
        background-color: $color-off;
        color: $color-on;
    }
}
@mixin ltz-button-engraved ($color-off, $color-on) {
    border: 1px solid $color-off;
    background-color: $color-off;
    cursor: pointer;
    color: $color-on;
    overflow: hidden;
    transition: background-color .2s, color .2s;
    padding: 0;

    &:hover, &:active, &:focus {
        background-color: transparent;
        color: $color-off;
    }
}
@mixin centered-bg {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin when($screen-type) {
    @if $screen-type == minuscule {
        @media screen and (max-width: 599px) { @content; }
    } @else if $screen-type == narrow {
        @media screen and (min-width: 600px) and (max-width: 768px) { @content; }
    } @else if $screen-type == small {
        @media screen and (min-width: 769px) and (max-width: 1080px) { @content; }
    } @else if $screen-type == medium {
        @media screen and (min-width: 1081px) and (max-width: 1680px) { @content; }
    } @else if $screen-type == vast {
        @media screen and (min-width: 2305px) { @content; }
    }
}
@mixin under($screen-type) {
    @if $screen-type == minuscule {
        @media screen and (max-width: 599px) { @content; }
    } @else if $screen-type == narrow {
        @media screen and (max-width: 768px) { @content; }
    } @else if $screen-type == small {
        @media screen and (max-width: 1080px) { @content; }
    } @else if $screen-type == medium {
        @media screen and (max-width: 1680px) { @content; }
    } @else if $screen-type == vast {
        @media screen and (max-width: 2304px) { @content; }
    }
}
@mixin invisible { display: none !important; speak: none !important; }
@mixin visible { display: initial !important; speak: initial !important; }
@mixin quiet { speak: none !important; }
