// (c) Yuoa
// NOTE Writing order
//        1. @extend, @include (without reactives/responsibles), basic styles
//        2. @mixin / %extend / &states / &pseudo
//        3. tags / ids / classes / &tags / &ids / &classes
//        4. @include (reactives/responsibles)

@import 'common';

main#content {
    margin: 0 auto;

    @include decr (width, -2 *  $hz-padding, $fixed: 100vw);
}

#content section {
    display: inline-block; padding: 1vw; border: 1px solid gray; margin: 1vw;vertical-align: top;
}
