// (c) Yuoa
// NOTE Writing order
//        1. @extend, @include (without reactives/responsibles), basic styles
//        2. @mixin / %extend / &states / &pseudo
//        3. tags / ids / classes / &tags / &ids / &classes
//        4. @include (reactives/responsibles)

@import 'common';

// Variables
$box-height: 60px;

// Codes
footer#bottom {
    position: relative;
    padding: $vt-padding 0;
    margin: 0 auto;

    a { margin: 0; }

    .cite {
        height: $box-height;
        padding: $vt-padding 0;

        .links {
            float: right;
            text-align: right;
            max-width: 400px;

            & > p, & > a {
                display: block;
            }

            .text-links {

            }

            .postech {
                img {
                max-height: 20px;}
            }
        }

        .identity {
            display: inline-table;
            max-width: 100%;

            a {
                display: table-cell;
                height: $box-height;

            }
            img { max-height: $box-height; }
        }

        .about {
            display: inline-block;

            a, span, p { font-size: .9rem; }
            p {
                line-height: $box-height / 3;
                padding: 0;
                margin: 0;
            }
        }
    }

    @include decr (width, -2 *  $hz-padding, $fixed: 100vw);
}
