// (c) Yuoa
// NOTE don't put "transition" property in %controlable!
// NOTE don't use "transition" property on basic layout!

@import 'common';

// Variables
$width: 100%;
$height: 450px;
$control-height: 100px;
$vertical-margin: 45px;

$button-width: 40px;
$button-box-width: $button-width * 4;
$button-each-width: $button-width - 1px;

$menu-padding: 1vw;

$minuscule-power: 0.6;
$narrow-power: 0.7;
$small-power: 0.9;

// Mixins
@mixin above {
    position: absolute;
    z-index: 20;
}
@mixin below {
    position: absolute;
    z-index: 10;
}
@mixin full {
    width: $width;
    height: $height;
}

// Codes
header#top {
    @include full;
    position: relative;
    box-shadow: 0 0 10px $gray;

    %controlable {
        @include above;
        height: $control-height;
        top: $vertical-margin;
        margin: 0;

        @include when(minuscule) {
            height: $control-height * $minuscule-power;
            top: $vertical-margin * $minuscule-power;
        }
        @include when(narrow) {
            height: $control-height * $narrow-power;
            top: $vertical-margin * $narrow-power;
        }
        @include when(small) {
            height: $control-height * $small-power;
            top: $vertical-margin * $small-power;
        }
    }

    a, h1, p, img { color: white; }

    .identity {
        @extend %controlable;
        left: $hz-padding;

        img { height: 100%; }

        @include when(minuscule) { left: $hz-padding-minuscule; }
        @include when(narrow) { left: $hz-padding-narrow; }
        @include when(vast) { left: $hz-padding-vast; }
    }

    .navigator {
        @extend %controlable;
        right: $hz-padding;
        padding-right: $button-box-width;

        &::after {
            @include invisible;
            content: '×';
            width: $button-each-width;
            height: $button-each-width;

            //@include under(medium) { @include visible; }
        }

        & > ul {
            $link-vertical-padding: .5vw;
            $link-font-size: 1.5em;

            list-style: none;
            margin: calc(#{$control-height / 2 - 1px} - #{$link-font-size / 2} - #{$link-vertical-padding / 2}) 0 0 0;
            padding: 0;

            & > li {
                display: inline-block;
                margin: 0 0 0 $menu-padding;
                position: relative;

                &:hover, &:active, &:focus, &:focus-within {
                    & > ul {
                        @include visible-opacity;
                    }

                    & > a {
                        background-color: $dblue-lt;
                    }
                }

                & > a {
                    //line-height: $control-height;
                    font-size: $link-font-size;
                    height: $link-font-size;
                    transition: background-color .2s;
                    padding: $link-vertical-padding 1vw;
                    margin: 0;

                    @include when(minuscule) { line-height: $control-height * $minuscule-power; }
                    @include when(narrow) { line-height: $control-height * $narrow-power; }
                    @include when(small) { line-height: $control-height * $small-power; }
                }

                & > ul {
                    @include invisible-opacity;
                    position: absolute;
                    left: 0;
                    top: calc(#{$link-font-size} + #{$link-vertical-padding} - 1px);
                    margin: 0;
                    padding: 1vw 0 0.5vw;
                    width: 10em;
                    list-style: none;
                    background-color: $dblue-lt;
                    font-size: $link-font-size;
                    transition: opacity .2s;

                    & > li {
                        padding: 0;
                        margin: 0;

                        &:hover, &:active, &:focus, &:focus-within {
                            background-color: white;

                            & > ul {
                                @include visible-opacity;
                            }

                            & > a {
                                color: $dblue;
                            }
                        }

                        & > a {
                            @include no-underline;
                            margin: 0;
                            padding: .25vw 0 .25vw 1vw;
                            font-size: 1rem;
                            width: calc(100% - 1vw);
                            font-weight: 500;
                            display: block;
                            min-height: 1.5em;
                        }

                        & > ul {
                            @include invisible-opacity;
                            position: absolute;
                            background-color: white;
                            top: 0;
                            left: 10em;
                            height: calc(100% - 2vw);
                            min-width: 10em;
                            list-style: none;
                            margin: 0;
                            padding: 1vw;

                            & > li {
                                & > a {
                                    color: $dblue;
                                    font-size: 1rem;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

            }
        }

        @include when(minuscule) { right: $hz-padding-minuscule; }
        @include when(narrow) { right: $hz-padding-narrow; }
        @include under(medium) {
            @include invisible;
            //&:focus {
            //    @include visible;
            //}
        }
        @include when(vast) {
            padding-right: calc(#{$button-box-width} + #{$menu-padding} + 12.5em);
            right: $hz-padding-vast;
        }
    }

    .button-box {
        @extend %controlable;
        right: $hz-padding;
        display: table;

        button {
            @include ltz-button-embossed (white, $dblue);
            margin-top: ($control-height - $button-width) / 2;
            display: table-cell;
            font-size: .8em;
            line-height: $button-each-width;
            width: $button-each-width;
            height: $button-each-width;
            transition: background-color .2s, color .2s;

            a {
                @include no-underline;

                img {
                    width: $button-each-width - 15px;
                    height: $button-each-width - 15px;
                    padding: 7px;
                }

                span {
                    line-height: $button-each-width - 2px;
                    vertical-align: top;
                    margin: 0;
                    padding-right: 10px;
                }
            }

            @include when(minuscule) {
                margin-top: ($control-height * $minuscule-power - $button-width) / 2;
            }
            @include when(narrow) {
                margin-top: ($control-height * $narrow-power - $button-width) / 2;
            }
            @include when(small) {
                margin-top: ($control-height * $small-power - $button-width) / 2;
            }
            @include when(medium) { width: initial; }
            @include when(vast) { width: initial; }
        }

        .expand {
            @include under(medium) { @include invisible; }
        }

        .menu {
            @include invisible;
            @include under(medium) { @include visible; }
        }

        @include when(minuscule) { right: $hz-padding-minuscule; }
        @include when(narrow) { right: $hz-padding-narrow; }
        @include when(vast) { right: $hz-padding-vast; }
    }

    .slider {
        @include below;
        @include full;
        top: 0;
        left: 0;
        display: inline-grid;

        .slide {
            @include centered-bg;
            @include full;
            position: absolute;

            &::before {
                @include below;
                @include full;
                top: 0;
                left: 0;
                background-color: $dblue-t;
                content: '';
            }

            .text-box {
                @include above;
                padding: 0 $hz-padding;
                bottom: $vertical-margin;

                h1 { margin: 0; }
                a { font-weight: 300; font-size: 1em; }

                @include when(minuscule) {
                    padding: 0 $hz-padding-minuscule;
                    bottom: $vertical-margin * $minuscule-power;
                }
                @include when(narrow) {
                    padding: 0 $hz-padding-narrow;
                    bottom: $vertical-margin * $narrow-power;
                }
                @include when(small) { bottom: $vertical-margin * $small-power; }
                @include when(vast) { padding: 0 $hz-padding-vast; }
            }
        }
    }

}
