// (c) Yuoa

@import 'common';

// Variables
$hd-height: 525px;
$nb-height: 100px;
$vt-margin: 45px;
$bbox-size: 80px;
$btn-width: ($bbox-size - 2px) / 2;

// Mixins
@mixin above {
    position: absolute;
    z-index: 20;
}
@mixin middle {
    position: absolute;
    z-index: 10;
}
@mixin below {
    position: absolute;
    z-index: 5;
}
@mixin full {
    width: 100%;
    height: $hd-height;
}
@mixin tl-zero {
    top: 0;
    left: 0;
}

// Codes
header#top {
    @include full;
    position: relative;
    overflow: hidden;
    color: white;
    min-width: $hz-content-min;

    a { color: white; }

    .identity, .navigator, .box {
        @include above;
        margin-top: $vt-margin;
    }

    .identity {
        left: $hz-padding;
        height: $nb-height;

        img { height: 100%; }
    }

    .navigator {
        height: $nb-height;
        right: $hz-padding;
        padding-right: $bbox-size + 40px;

        ul {
            list-style: none;
            margin: 0;

            li {
                display: inline-block;
                padding-left: 3vw;

                a {
                    line-height: $nb-height;
                    font-size: 1.5em;
                }
            }
        }
    }

    .box {
        height: $nb-height;
        right: $hz-padding;
        display: table;

        button {
            margin-top: ($nb-height - ($bbox-size / 2)) / 2 - 1px;
            display: table-cell;
            border: 1px solid white;
            background-color: transparent;
            cursor: pointer;
            color: white;
            font-size: .8em;
            width: $btn-width;
            height: $btn-width;
            overflow: hidden;
            transition: background-color .2s, color .2s;

            &:hover, &:active, &:focus {
                background-color: white;
                color: $dblue;
            }
        }
    }

    .slider {
        @include middle;
        @include full;
        @include tl-zero;
        display: grid;

        .slide {
            background-position: center;

            .textbox {
                @include middle;
                padding: 0 $hz-padding;
                bottom: $vt-margin;

                h1 { margin: 0; }
            }

            .postbox {
                @include middle;
                padding-right: $hz-padding;
            }

            &::after {
                @include below;
                @include full;
                @include tl-zero;
                background-color: $dblue-t;
                content: '';
            }

        }

    }

}
