// (c) Yuoa
// NOTE Writing order
//        1. @extend, @include (without reactives/responsibles), basic styles
//        2. @mixin / %extend / &states / &pseudo
//        3. tags / ids / classes / &tags / &ids / &classes
//        4. @include (reactives/responsibles)

@import 'common';

div.debug-box {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, .3);
    margin: 0;

    & > div {
        position: relative;
        background-color: white;
        margin: 50px auto;
        width: 480px;
        max-width: 96vw;
        box-shadow: 0 0 5px $black-t;

        .title {
            padding: 2px 16px;
            background-color: $dblue;

            span {
                color: white;
                float: right;
                font-weight: bold;

                &:hover, &:focus {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            h6 { color: white; }
        }

        .code {
            font-size: 14px;
            margin: 0;
            padding: 20px 16px;

            pre { white-space: pre-wrap; }
        }
    }
}

div.js-disclaimer {
    position: relative;
    z-index: 20;
    padding: 20px 40px;
    margin: auto auto 30px;
    border-bottom: 1px solid $gray;

    & > h3 {
        color: $postech;
    }

    @include decr (width, -2 * $hz-padding, $fixed: #{100vw} - #{80px}, $calc: true);
}

div#go-top {
    & > a {
        position: fixed;
        bottom: $vt-padding * 2;
        right: 0;
        font-size: 1.1rem;
        padding: 1rem 1rem 1rem 2rem;
        box-shadow: 0 0 5px $black-t;
        border-top-left-radius: 2.55rem;
        border-bottom-left-radius: 2.55rem;
        margin-right: 0;
        background-color: $white-lt;
        transition: opacity .4s ease, margin-right .7s ease-out;
    }

    &.hide > a {
        opacity: 0;
        margin-right: -10rem;
    }
}

svg.hamburger {
    & > path {
        transition: transform .4s ease-in-out, fill .2s !important;
    }
    & > path:nth-child(1) { transform-origin: 0 0; }
    & > path:nth-child(2) { transform-origin: 160px 160px; }
    & > path:nth-child(3) { transform-origin: 0 320px; }
}

svg.hamburger.hamburger2x {
    & > path:nth-child(1) {
        transform: translateX(100px) rotateZ(45deg);
    }
    & > path:nth-child(2) {
        transform: rotateY(90deg);
    }
    & > path:nth-child(3) {
        transform: translateX(100px) rotateZ(-45deg);
    }
}
