//(c) Yuoa

.nav-menus-php {
    margin: 16px 0 16px 300px;

    .item-edit { right: 3px; }

    .meta-box-container {
        position: relative;
    }

    .placeholder {
        height: 35px;
        width: 410px;
        margin-top: 13px;
        border: 2px dashed #ddd;
    }

    .menu-item-edit-active .menu-item-settings { background: white; }

    #menu-settings-column {
        @media screen and (max-width: 1023px) {
            display: block !important;
            width: 100% !important;
            float: none !important;
            margin-left: 0 !important;
        }
    }

    #menu-dnd-list {
        overflow: hidden;

        &:empty {
            height: 50px;
            margin: 20px 0;
            border: 2px dashed #ddd;
            width: 410px;
            max-width: 100%;
        }

        .menu-item-depth-0 {
            & > .menu-item-bar > .menu-item-handle > .item-title > .is-submenu {
                display: none;
            }
        }
    }

    #nav-menu-header {
        clear: both;
        padding: 10px;
        line-height: 28px;

        .publishing-action {
            text-align: right;
            float: right;
        }

        h3 {
            display: inline-block;
            margin-right: 7px;
            vertical-align: middle;
            margin: 0;
        }
    }

    #menu-management-liquid {
        @media screen and (max-width: 1023px) {
            margin-top: 25px;
        }
    }

    a.item-edit { cursor: pointer; }

    input.invalid, input.invalid:focus {
        border-color: #dc3232 !important;
        box-shadow: 0 0 2px rgba( 204, 0, 0, 0.8 );
    }

    @media screen and (max-width: 1023px) {
        margin: 16px 0;
    }
}
